Repository Mooncake-Labs/moonlink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-sort, clipper-check-fix, check-dependency-license

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/crate-ci/typos
  rev: v1.35.1
  hooks:
  - id: typos
- repo: https://github.com/doublify/pre-commit-rust
  rev: v1.0
  hooks:
  - id: fmt
- repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  rev: 0.2.3
  hooks:
  - id: yamlfmt
    args: [--mapping, '2', --sequence, '2', --offset, '0', --width, '150']
- repo: local
  hooks:
  - id: cargo-sort
    name: cargo-sort
    language: system
    files: \.toml$
    entry: cargo sort --workspace
    pass_filenames: false
  - id: clipper-check-fix
    name: clipper-check-fix
    language: system
    files: \.rs$
    entry: bash -c 'cargo clippy --all-targets --all-features -- -D warnings || cargo clippy --all-targets --all-features --fix --allow-dirty --allow-staged'
    pass_filenames: false
  - id: check-dependency-license
    name: check-dependency-license
    language: system
    files: \.toml$
    entry: cargo deny check
    pass_filenames: false

assert len
  src/moonlink/src/row/moonlink_row.rs
Due: clipper-check-fix

[REST] implement request validation for empty database and table names
  README.md
  src/moonlink_service/src/rest_api.rs
Due: clipper-check-fix

Revert
  Cargo.lock
  src/moonlink_rpc/src/error.rs
  src/moonlink_rpc/src/lib.rs
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/rpc_server.rs
  src/moonlink_service/src/test.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

fix: show the error
  src/moonlink_datafusion/src/connection_pool.rs
Due: clipper-check-fix

fix: use fd instead ip addr
  src/moonlink_datafusion/src/connection_pool.rs
Due: clipper-check-fix

fix key
  src/moonlink/src/row/moonlink_row.rs
  src/moonlink_backend/tests/test_initial_copy.rs
Due: clipper-check-fix

rpc
  .devcontainer/Dockerfile
  Cargo.lock
  Cargo.toml
  src/moonlink_rpc/Cargo.toml
  src/moonlink_rpc/build.rs
  src/moonlink_rpc/proto/rpc.proto
  src/moonlink_rpc/src/error.rs
  src/moonlink_rpc/src/lib.rs
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/error.rs
  src/moonlink_service/src/lib.rs
  src/moonlink_service/src/rpc_server.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

fix naming
  src/moonlink/src/observability/iceberg_persistency.rs
  src/moonlink/src/observability/mod.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
Due: clipper-check-fix

feat: add connection pool in datafusion
  Cargo.lock
  src/moonlink_datafusion/Cargo.toml
  src/moonlink_datafusion/src/connection_pool.rs
  src/moonlink_datafusion/src/lib.rs
  src/moonlink_datafusion/src/table_provider.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

Change persistency to persistence.
  src/moonlink/src/observability/iceberg_persistence.rs
  src/moonlink/src/observability/mod.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
Due: clipper-check-fix

Add early return logic for iceberg table manager.
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
Due: clipper-check-fix

chore: use invalid url to test
  src/moonlink_datafusion/src/connection_pool.rs
Due: clipper-check-fix

Remove variable exposure for iceberg stats mooncake_table_id.
  src/moonlink/src/observability/iceberg_persistence.rs
Due: clipper-check-fix

small fix.
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
Due: clipper-check-fix

Add overall and transaction commit latency.
  src/moonlink/src/observability/iceberg_persistence.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
Due: clipper-check-fix

Rename the variables.
  src/moonlink/src/observability/iceberg_persistence.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
Due: clipper-check-fix

Change histogram name.
  src/moonlink/src/observability/iceberg_persistence.rs
Due: clipper-check-fix

[BACKEND] implement request validation for empty database and table names
  README.md
  src/moonlink_backend/src/lib.rs
Due: clipper-check-fix

fix opentelemetry unit test.
  src/moonlink_service/src/otel/test.rs
Due: clipper-check-fix

Add opentelemetry unit test to ci.
  .github/workflows/ci.yml
Due: none

Correct the order of ci tests.
  .github/workflows/ci.yml
Due: none

Add conditional compilation logic.
  src/moonlink_service/src/test_utils.rs
Due: clipper-check-fix

Allow deadcode when otel-integration is activate.
  src/moonlink_service/src/test_utils.rs
Due: clipper-check-fix

Change test command.
  .github/workflows/ci.yml
Due: none

Add enviroment variables.
  .github/workflows/ci.yml
Due: none

Remove a unnecessary code changes
  .github/workflows/ci.yml
Due: none

Add iceberg table recovery stats
  src/moonlink/src/observability/iceberg_table_recovery.rs
  src/moonlink/src/observability/mod.rs
  src/moonlink/src/storage/iceberg/iceberg_table_loader.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
Due: clipper-check-fix

Improve stats naming.
  src/moonlink/src/storage/iceberg/iceberg_table_loader.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
Due: clipper-check-fix

Change latency recording mechanism
  src/moonlink/src/observability/iceberg_table_recovery.rs
  src/moonlink/src/observability/mod.rs
  src/moonlink/src/storage/iceberg/iceberg_table_loader.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
Due: clipper-check-fix

Change latency recording start point.
  src/moonlink/src/storage/iceberg/iceberg_table_loader.rs
Due: clipper-check-fix

Record overall recovery latency.
  src/moonlink/src/observability/iceberg_table_recovery.rs
  src/moonlink/src/storage/iceberg/iceberg_table_loader.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
Due: clipper-check-fix

Small fix.
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
Due: clipper-check-fix

Keep code consistency with origin CI.
  .github/workflows/ci.yml
Due: none

Improve code quality.
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
Due: clipper-check-fix

Simplify iceberg persistence stats.
  src/moonlink/src/observability/iceberg_persistence.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
Due: clipper-check-fix

Simplify Arc symbols.
  src/moonlink/src/observability/iceberg_persistence.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
Due: clipper-check-fix

Fix LSN at recovery
  src/moonlink_connectors/src/pg_replicate/table_init.rs
Due: clipper-check-fix

feat: use conn pool in catalog provider
  src/moonlink_datafusion/src/catalog_provider.rs
Due: clipper-check-fix
