Repository Mooncake-Labs/moonlink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-sort, clipper-check-fix, check-dependency-license

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/crate-ci/typos
  rev: v1.35.1
  hooks:
  - id: typos
- repo: https://github.com/doublify/pre-commit-rust
  rev: v1.0
  hooks:
  - id: fmt
- repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  rev: 0.2.3
  hooks:
  - id: yamlfmt
    args: [--mapping, '2', --sequence, '2', --offset, '0', --width, '150']
- repo: local
  hooks:
  - id: cargo-sort
    name: cargo-sort
    language: system
    files: \.toml$
    entry: cargo sort --workspace
    pass_filenames: false
  - id: clipper-check-fix
    name: clipper-check-fix
    language: system
    files: \.rs$
    entry: bash -c 'cargo clippy --all-targets --all-features -- -D warnings || cargo clippy --all-targets --all-features --fix --allow-dirty --allow-staged'
    pass_filenames: false
  - id: check-dependency-license
    name: check-dependency-license
    language: system
    files: \.toml$
    entry: cargo deny check
    pass_filenames: false

fix
  src/moonlink/src/storage/async_bitwriter.rs
  src/moonlink/src/table_handler/table_handler_state.rs
Due: clipper-check-fix

fix(dev): switch back to Debian 12
  .devcontainer/Dockerfile
Due: none

fix
  Cargo.toml
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

add bearer token auth
  Cargo.toml
Due: cargo-sort, check-dependency-license

chore
  src/moonlink_service/src/rest_api.rs
Due: clipper-check-fix
