Repository Mooncake-Labs/moonlink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-sort, clipper-check-fix, check-dependency-license

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.35.1
    hooks:
      - id: typos
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
  - repo: local
    hooks:
      - id: cargo-sort
        name: cargo-sort
        language: system
        files: '\.toml$'
        entry: cargo sort --workspace
        pass_filenames: false
      - id: clipper-check-fix
        name: clipper-check-fix
        language: system
        files: '\.rs$'
        entry: bash -c 'cargo clippy --all-targets --all-features -- -D warnings || cargo clippy --all-targets --all-features --fix --allow-dirty --allow-staged'
        pass_filenames: false
      - id: check-dependency-license
        name: check-dependency-license
        language: system
        files: '\.toml$'
        entry: cargo deny check
        pass_filenames: false

index repro
  src/moonlink/src/table_handler/chaos_replay.rs
  src/moonlink/src/table_handler/regression/issue_index
  src/moonlink/src/table_handler/regression/issue_regression.rs
Due: clipper-check-fix

Add check_mooncake_table_snapshot test utility
  src/moonlink/src/storage/mooncake_table/table_operation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
Due: clipper-check-fix

fix
  src/moonlink/src/storage/async_bitwriter.rs
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
  src/moonlink/src/table_handler/chaos_replay.rs
  src/moonlink/src/table_handler/regression/issue_index
  src/moonlink/src/table_handler/regression/issue_regression.rs
Due: clipper-check-fix

chore(*): centralize workspace members and extract common deps
  Cargo.toml
  src/moonlink/Cargo.toml
  src/moonlink_backend/Cargo.toml
  src/moonlink_connectors/Cargo.toml
  src/moonlink_datafusion/Cargo.toml
  src/moonlink_metadata_store/Cargo.toml
  src/moonlink_rpc/Cargo.toml
  src/moonlink_service/Cargo.toml
Due: cargo-sort, check-dependency-license

chore(deny.toml): suppress cargo-deny warnings
  deny.toml
Due: cargo-sort, check-dependency-license

impl CatalogAccess for RestCatalog
  src/moonlink/src/storage/iceberg/rest_catalog.rs
Due: clipper-check-fix

Refactor catalog test functions to accept namespace and table name parameters
  src/moonlink/src/storage/iceberg/catalog_test_impl.rs
  src/moonlink/src/storage/iceberg/file_catalog_test.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test_utils.rs
Due: clipper-check-fix

fix lint
  src/moonlink/src/storage/iceberg/moonlink_catalog.rs
Due: clipper-check-fix

use sync version cleanup directory
  src/moonlink_service/src/test_utils.rs
Due: clipper-check-fix

function visibility
  src/moonlink_service/src/test_utils.rs
Due: clipper-check-fix

refactor
  src/moonlink_service/src/test.rs
  src/moonlink_service/src/test_utils.rs
Due: clipper-check-fix

refactor: constants
  Cargo.lock
  Cargo.toml
  src/moonlink/Cargo.toml
  src/moonlink_backend/Cargo.toml
  src/moonlink_connectors/Cargo.toml
  src/moonlink_datafusion/Cargo.toml
  src/moonlink_metadata_store/Cargo.toml
  src/moonlink_rpc/Cargo.toml
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/test_utils.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

run current pre-commit
  Cargo.toml
  src/moonlink/Cargo.toml
  src/moonlink_backend/Cargo.toml
  src/moonlink_connectors/Cargo.toml
  src/moonlink_datafusion/Cargo.toml
  src/moonlink_metadata_store/Cargo.toml
  src/moonlink_rpc/Cargo.toml
  src/moonlink_service/Cargo.toml
Due: cargo-sort, check-dependency-license

refactor: yaml formatter
  .devcontainer/docker-compose.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/ci_typos.yml
  .github/workflows/community_auto_label.yml
  .pre-commit-config.yaml
  Cargo.toml
  deploy/aws/dev/deployment/moonlink_deployment.yaml
  deploy/aws/dev/service/moonlink_service.yaml
  deploy/aws/dev/service/postgres_service.yaml
  deploy/aws/prod/deployment/moonlink_deployment.yaml
  deploy/aws/prod/service/moonlink_service.yaml
  deploy/aws/staging/deployment/moonlink_deployment.yaml
  deploy/aws/staging/service/moonlink_service.yaml
  deploy/gcp/dev/deployment/moonlink_deployment.yaml
  deploy/gcp/dev/service/moonlink_service.yaml
  deploy/gcp/dev/service/postgres_service.yaml
  deploy/gcp/prod/deployment/moonlink_deployment.yaml
  deploy/gcp/prod/service/moonlink_service.yaml
  deploy/gcp/staging/deployment/moonlink_deployment.yaml
  deploy/gcp/staging/service/moonlink_service.yaml
  deploy/kind/deployment/moonlink_deployment.yaml
  deploy/kind/service/moonlink_service.yaml
  src/moonlink/Cargo.toml
  src/moonlink_backend/Cargo.toml
  src/moonlink_connectors/Cargo.toml
  src/moonlink_datafusion/Cargo.toml
  src/moonlink_metadata_store/Cargo.toml
  src/moonlink_rpc/Cargo.toml
  src/moonlink_service/Cargo.toml
Due: cargo-sort, check-dependency-license

refactor
  .devcontainer/docker-compose.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/ci_typos.yml
  .github/workflows/community_auto_label.yml
  .pre-commit-config.yaml
  deploy/aws/dev/deployment/moonlink_deployment.yaml
  deploy/aws/dev/service/moonlink_service.yaml
  deploy/aws/dev/service/postgres_service.yaml
  deploy/aws/prod/deployment/moonlink_deployment.yaml
  deploy/aws/prod/service/moonlink_service.yaml
  deploy/aws/staging/deployment/moonlink_deployment.yaml
  deploy/aws/staging/service/moonlink_service.yaml
  deploy/gcp/dev/deployment/moonlink_deployment.yaml
  deploy/gcp/dev/service/moonlink_service.yaml
  deploy/gcp/dev/service/postgres_service.yaml
  deploy/gcp/prod/deployment/moonlink_deployment.yaml
  deploy/gcp/prod/service/moonlink_service.yaml
  deploy/gcp/staging/deployment/moonlink_deployment.yaml
  deploy/gcp/staging/service/moonlink_service.yaml
  deploy/kind/deployment/moonlink_deployment.yaml
  deploy/kind/service/moonlink_service.yaml
Due: none

update
  src/moonlink_service/src/test.rs
  src/moonlink_service/src/test_utils.rs
Due: clipper-check-fix

update
  Cargo.toml
  src/moonlink/Cargo.toml
  src/moonlink_backend/Cargo.toml
  src/moonlink_connectors/Cargo.toml
  src/moonlink_datafusion/Cargo.toml
  src/moonlink_metadata_store/Cargo.toml
  src/moonlink_rpc/Cargo.toml
  src/moonlink_service/Cargo.toml
Due: cargo-sort, check-dependency-license

Update Cargo.toml
  src/moonlink_service/Cargo.toml
Due: cargo-sort, check-dependency-license

Update .toml
  Cargo.toml
  src/moonlink/Cargo.toml
  src/moonlink_backend/Cargo.toml
  src/moonlink_connectors/Cargo.toml
  src/moonlink_datafusion/Cargo.toml
  src/moonlink_metadata_store/Cargo.toml
  src/moonlink_rpc/Cargo.toml
  src/moonlink_service/Cargo.toml
Due: cargo-sort, check-dependency-license

fix typo
  src/moonlink/src/storage/iceberg/file_catalog.rs
Due: clipper-check-fix

compact imports in rest_catalog.rs
  src/moonlink/src/storage/iceberg/rest_catalog.rs
Due: clipper-check-fix

Remove unused load_metadata function from FileCatalog and clean up CatalogAccess trait definition.
  src/moonlink/src/storage/iceberg/file_catalog.rs
  src/moonlink/src/storage/iceberg/moonlink_catalog.rs
Due: clipper-check-fix

moved wait logic into util functions
  src/moonlink_service/src/test.rs
  src/moonlink_service/src/test_utils.rs
Due: clipper-check-fix

refactored syntax for fmt checks.
  src/moonlink_service/src/test.rs
  src/moonlink_service/src/test_utils.rs
Due: clipper-check-fix

async_event_process
  src/moonlink_connectors/src/rest_ingest.rs
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
Due: clipper-check-fix

fix
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
Due: clipper-check-fix

stream
  Cargo.lock
  src/moonlink_connectors/Cargo.toml
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_connectors/src/rest_ingest.rs
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

async stream
  src/moonlink_connectors/src/rest_ingest.rs
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
Due: clipper-check-fix

mirror
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
  src/moonlink_service/src/test_utils.rs
Due: clipper-check-fix

t
  Cargo.lock
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/test.rs
  src/moonlink_service/src/test_utils.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

t
  src/moonlink_service/src/test.rs
Due: clipper-check-fix

chore: update the RestCatalogTestGuard after drop namesapce
  src/moonlink/src/storage/iceberg/rest_catalog_test.rs
Due: clipper-check-fix

refactor: refact the table and namespace tests
  src/moonlink/src/storage/iceberg/rest_catalog_test.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test_guard.rs
Due: clipper-check-fix

feat: implement basic namespace function
  src/moonlink/src/storage/iceberg/rest_catalog.rs
Due: clipper-check-fix

fix: list namespace on root namespace
  src/moonlink/src/storage/iceberg/rest_catalog_test.rs
Due: clipper-check-fix

fix: list the namespaces on parent
  src/moonlink/src/storage/iceberg/rest_catalog_test.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test_guard.rs
Due: clipper-check-fix

fix: list namespaces when target does not exist
  src/moonlink/src/storage/iceberg/rest_catalog_test.rs
Due: clipper-check-fix

refactor: update error handling
  src/moonlink/src/storage/iceberg/rest_catalog_test.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test_guard.rs
Due: clipper-check-fix

refactor: update rest catalog
  src/moonlink/src/storage/iceberg/rest_catalog_test.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test_guard.rs
Due: clipper-check-fix
