Repository Mooncake-Labs/moonlink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-sort, clipper-check-fix, check-dependency-license

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.35.1
    hooks:
      - id: typos
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
  - repo: local
    hooks:
      - id: cargo-sort
        name: cargo-sort
        language: system
        files: '\.toml$'
        entry: cargo sort --workspace
        pass_filenames: false
      - id: clipper-check-fix
        name: clipper-check-fix
        language: system
        files: '\.rs$'
        entry: bash -c 'cargo clippy --all-targets --all-features -- -D warnings || cargo clippy --all-targets --all-features --fix --allow-dirty --allow-staged'
        pass_filenames: false
      - id: check-dependency-license
        name: check-dependency-license
        language: system
        files: '\.toml$'
        entry: cargo deny check
        pass_filenames: false

test: (de)serialize ErrorStruct
  Cargo.lock
  src/moonlink_error/Cargo.toml
  src/moonlink_error/src/error.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

test: fix error loc row
  src/moonlink/src/error.rs
Due: clipper-check-fix

fix: remove source from error message
  src/moonlink/src/error.rs
  src/moonlink_rpc/src/error.rs
Due: clipper-check-fix

feat: use CacheTrait instead of ObjectStorageCache
  .gitignore
  src/moonlink/benches/bench_write.rs
  src/moonlink/benches/microbench_write_mooncake_table.rs
  src/moonlink/src/lib.rs
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/cache/object_storage/base_cache.rs
  src/moonlink/src/storage/cache/object_storage/object_storage_cache.rs
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/compaction/table_compaction.rs
  src/moonlink/src/storage/compaction/test_utils.rs
  src/moonlink/src/storage/compaction/tests.rs
  src/moonlink/src/storage/iceberg/iceberg_table_loader.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
  src/moonlink/src/storage/iceberg/index.rs
  src/moonlink/src/storage/iceberg/mock_filesystem_test.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/index/cache_utils.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/data_file_state_tests.rs
  src/moonlink/src/storage/mooncake_table/deletion_vector_puffin_state_tests.rs
  src/moonlink/src/storage/mooncake_table/disk_slice.rs
  src/moonlink/src/storage/mooncake_table/file_index_state_tests.rs
  src/moonlink/src/storage/mooncake_table/snapshot.rs
  src/moonlink/src/storage/mooncake_table/snapshot_read.rs
  src/moonlink/src/storage/mooncake_table/snapshot_read_output.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/test_utils.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink/src/table_handler/chaos_replay.rs
  src/moonlink/src/table_handler/chaos_test.rs
  src/moonlink/src/table_handler/failure_tests.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
Due: clipper-check-fix

refactor: remove logging in test
  src/moonlink_error/src/error.rs
Due: clipper-check-fix

Don't split on commas inside quotes, unquoted NULL is None, quoted "null" is a string
  src/moonlink_connectors/src/pg_replicate/conversions/text.rs
Due: clipper-check-fix

ues generic array parser to parse array of composite type
  src/moonlink_connectors/src/pg_replicate/conversions/text.rs
Due: clipper-check-fix

Add tests for parsing composite arrays in TextFormatConverter
  src/moonlink_connectors/src/pg_replicate/conversions/text.rs
Due: clipper-check-fix

Apply ErrorStruct to moonlink_metadata_store error handling
  Cargo.lock
  src/moonlink_metadata_store/Cargo.toml
  src/moonlink_metadata_store/src/error.rs
  src/moonlink_metadata_store/src/postgres/pg_metadata_store.rs
  src/moonlink_metadata_store/src/sqlite/sqlite_metadata_store.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

refactor(metadata_store): adopt new ErrorStruct::new() pattern
  src/moonlink_metadata_store/src/error.rs
  src/moonlink_metadata_store/src/postgres/pg_metadata_store.rs
  src/moonlink_metadata_store/src/sqlite/sqlite_metadata_store.rs
Due: clipper-check-fix

refactor(metadata_store): use shared get_io_error_status utility
  src/moonlink_metadata_store/src/error.rs
  src/moonlink_metadata_store/src/postgres/pg_metadata_store.rs
  src/moonlink_metadata_store/src/sqlite/sqlite_metadata_store.rs
Due: clipper-check-fix

fix: remove duplicate source information in error messages
  src/moonlink_metadata_store/src/error.rs
Due: clipper-check-fix

refactor: seperate moka cache test utils
  src/moonlink/src/storage/cache/metadata/moka_cache.rs
  src/moonlink/src/storage/cache/metadata/moka_cache/test_utils.rs
Due: clipper-check-fix

feat: add len method to cache
  src/moonlink/src/storage/cache/metadata/base_cache.rs
  src/moonlink/src/storage/cache/metadata/moka_cache.rs
  src/moonlink/src/storage/cache/metadata/moka_cache_test.rs
Due: clipper-check-fix

chore: add doc
  src/moonlink/src/storage/cache/metadata/moka_cache.rs
Due: clipper-check-fix

[fix] Update nested StructArray initialization and comments for clarity in tests
  src/moonlink/src/row/moonlink_row.rs
Due: clipper-check-fix

build: add moonlink service integration test
  .github/workflows/ci.yml
Due: none

build: update test command
  .github/workflows/ci.yml
Due: none

build: fix nginx
  .github/workflows/ci.yml
Due: none

build: fix health check command
  .github/workflows/ci.yml
Due: none

build: not create dir
  .github/workflows/ci.yml
Due: none

build: update mount dir
  .github/workflows/ci.yml
Due: none

build: make cargo test easier for debug
  .github/workflows/ci.yml
Due: none

build: create shared dir
  .github/workflows/ci.yml
Due: none

build: add premission to backend dir
  .github/workflows/ci.yml
Due: none

build: enable setting backend dir by env var
  .github/workflows/ci.yml
  src/moonlink_service/src/test.rs
Due: clipper-check-fix

build: make into ro
  .github/workflows/ci.yml
Due: none

fix: use MOONLINK_BACKEND_DIR as env var
  .github/workflows/ci.yml
  src/moonlink_service/src/test.rs
Due: clipper-check-fix

build: start nginx manually
  .github/workflows/ci.yml
Due: none

no_index
  src/moonlink/src/row/moonlink_row.rs
  src/moonlink/src/storage/index.rs
  src/moonlink/src/storage/index/mem_index.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
Due: clipper-check-fix

append_only
  src/moonlink/src/row/moonlink_row.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/index/mem_index.rs
  src/moonlink/src/storage/mooncake_table/mem_slice.rs
  src/moonlink/src/storage/mooncake_table/persistence_buffer.rs
  src/moonlink/src/storage/mooncake_table/snapshot_validation.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/storage/mooncake_table_config.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink_backend/src/table_config.rs
  src/moonlink_backend/tests/common.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_metadata_store/src/config_utils.rs
Due: clipper-check-fix

cleanup
  src/moonlink/src/row/moonlink_row.rs
Due: clipper-check-fix

pg tls
  .devcontainer/certs/.gitignore
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/prebuild.sh
  .devcontainer/setup.sh
  Cargo.lock
  Cargo.toml
  src/moonlink_backend/Cargo.toml
  src/moonlink_backend/tests/common.rs
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_backend/tests/test_initial_copy.rs
  src/moonlink_connectors/Cargo.toml
  src/moonlink_connectors/src/pg_replicate.rs
  src/moonlink_connectors/src/pg_replicate/clients/postgres.rs
  src/moonlink_connectors/src/pg_replicate/postgres_source.rs
  src/moonlink_metadata_store/Cargo.toml
  src/moonlink_metadata_store/src/postgres/pg_client_wrapper.rs
  src/moonlink_metadata_store/tests/common/test_environment.rs
  src/moonlink_metadata_store/tests/test_pg_metadata_store.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

fix: upload large file size with fake-gcs
  src/moonlink/src/storage/filesystem/accessor/base_filesystem_accessor.rs
  src/moonlink/src/storage/filesystem/accessor/filesystem_accessor.rs
  src/moonlink/src/storage/filesystem/gcs/tests.rs
  src/moonlink/src/storage/filesystem/s3/tests.rs
  src/moonlink/src/storage/iceberg/io_utils.rs
Due: clipper-check-fix

fix: clipper suggestion
  src/moonlink/src/storage/filesystem/gcs/tests.rs
Due: clipper-check-fix

fix: Add GCS multipart upload support and improve storage configuratio
  src/moonlink/src/storage/filesystem/accessor/base_filesystem_accessor.rs
  src/moonlink/src/storage/filesystem/accessor/filesystem_accessor.rs
  src/moonlink/src/storage/filesystem/gcs/gcs_test_utils.rs
  src/moonlink/src/storage/filesystem/gcs/tests.rs
  src/moonlink/src/storage/filesystem/s3/tests.rs
  src/moonlink/src/storage/filesystem/storage_config.rs
  src/moonlink/src/storage/iceberg/io_utils.rs
  src/moonlink_backend/src/table_config.rs
  src/moonlink_metadata_store/src/config_utils.rs
  src/moonlink_metadata_store/src/sqlite/tests.rs
Due: clipper-check-fix

fix: PR comment
  src/moonlink/src/storage/filesystem/accessor/base_filesystem_accessor.rs
  src/moonlink/src/storage/filesystem/accessor/filesystem_accessor.rs
  src/moonlink/src/storage/filesystem/gcs/tests.rs
Due: clipper-check-fix

addtress some comments
  src/moonlink_connectors/src/pg_replicate/tests/cdc_event_test.rs
Due: clipper-check-fix

extract some common code into functions
  src/moonlink_connectors/src/pg_replicate/tests/cdc_event_test.rs
  src/moonlink_connectors/src/pg_replicate/tests/test_utils.rs
Due: clipper-check-fix
