Repository Mooncake-Labs/moonlink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-sort, clipper-check-fix, check-dependency-license

cargo-sort:
  name: cargo-sort
  language: system
  entry: cargo sort --workspace
  pass_filenames: false

clipper-check-fix:
  name: clipper-check-fix
  language: system
  entry: bash -c 'cargo clippy --all-targets --all-features -- -D warnings || cargo clippy --all-targets --all-features --fix --allow-dirty --allow-staged'
  pass_filenames: false

check-dependency-license:
  name: check-dependency-license
  language: system
  entry: cargo deny check
  pass_filenames: false

Improve error messages in tests for unexpected cell types in text conversions
  src/moonlink_connectors/src/pg_replicate/conversions/text.rs
Due: clipper-check-fix

add comprehensive tests for parsing errors and empty composites
  src/moonlink_connectors/src/pg_replicate/conversions/text.rs
  src/moonlink_connectors/src/pg_replicate/util.rs
Due: clipper-check-fix

build: update cargo toml
  Cargo.lock
  src/moonlink/Cargo.toml
Due: cargo-sort, check-dependency-license

feat: add location to ErrorStruct
  Cargo.lock
  Cargo.toml
  src/moonlink/src/error.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

fix: remove patch in regex package version
  Cargo.toml
Due: cargo-sort, check-dependency-license

Basic DataFusion integration
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .gitignore
  Cargo.lock
  Cargo.toml
  deny.toml
  src/moonlink_datafusion/Cargo.toml
  src/moonlink_datafusion/src/catalog_provider.rs
  src/moonlink_datafusion/src/error.rs
  src/moonlink_datafusion/src/lib.rs
  src/moonlink_datafusion/src/main.rs
  src/moonlink_datafusion/src/schema_provider.rs
  src/moonlink_datafusion/src/table_metadata.rs
  src/moonlink_datafusion/src/table_provider.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

build: regex to dev deps
  src/moonlink/Cargo.toml
Due: cargo-sort, check-dependency-license

fix: increase GCS and S3 test CI timeout
  .github/workflows/ci.yml
Due: none

fix: increase llvm-cov test timeout
  .github/workflows/ci.yml
Due: none

Implement timezone-aware timestamp parsing
  Cargo.lock
  src/moonlink_connectors/Cargo.toml
  src/moonlink_connectors/src/rest_ingest/datetime_utils.rs
  src/moonlink_connectors/src/rest_ingest/json_converter.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

chore: fix lint
  src/moonlink_connectors/src/rest_ingest/datetime_utils.rs
Due: clipper-check-fix

Add asseration when converting Cell to RowValue
  src/moonlink_connectors/src/pg_replicate/util.rs
Due: clipper-check-fix

Add comprehensive tests for ColumnArrayBuilder handling nested structs and mixed types
  src/moonlink/src/row/column_array_builder.rs
Due: clipper-check-fix

remove test_column_array_builder_nested_struct
  src/moonlink/src/row/column_array_builder.rs
Due: clipper-check-fix

merge test_struct_with_partial_nulls into test_struct_field_length_mismatch
  src/moonlink/src/row/column_array_builder.rs
Due: clipper-check-fix

Remove redudent test function name and add comments on struct
  src/moonlink/src/row/column_array_builder.rs
Due: clipper-check-fix

feat: support decimal in json type
  src/moonlink_connectors/src/rest_ingest.rs
  src/moonlink_connectors/src/rest_ingest/decimal_utils.rs
  src/moonlink_connectors/src/rest_ingest/json_converter.rs
Due: clipper-check-fix

wal recovery
  Cargo.lock
  src/moonlink/benches/bench_write.rs
  src/moonlink/benches/microbench_write_mooncake_table.rs
  src/moonlink/src/lib.rs
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/iceberg/table_event_manager.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/file_index_state_tests.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/test_utils.rs
  src/moonlink/src/storage/mooncake_table/tests.rs
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink/src/storage/wal.rs
  src/moonlink/src/storage/wal/test_utils.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/table_handler_state.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
  src/moonlink/src/table_notify.rs
  src/moonlink_backend/Cargo.toml
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/tests/common.rs
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_backend/tests/test_initial_copy.rs
  src/moonlink_connectors/src/pg_replicate.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/replication_manager.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

cleanup
  src/moonlink/src/storage/wal.rs
  src/moonlink_connectors/src/pg_replicate.rs
Due: clipper-check-fix

Replace unwrap with expect and add descriptive error messages in moonlik>src>moonlink
  src/moonlink/src/row/moonlink_row.rs
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/filesystem/accessor/chaos_generator.rs
  src/moonlink/src/storage/filesystem/accessor/unbuffered_stream_writer.rs
  src/moonlink/src/storage/iceberg/deletion_vector.rs
  src/moonlink/src/storage/iceberg/deletion_vector_manifest_manager.rs
  src/moonlink/src/storage/iceberg/file_catalog.rs
  src/moonlink/src/storage/iceberg/file_index_manifest_manager.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/iceberg_table_syncer.rs
  src/moonlink/src/storage/iceberg/io_utils.rs
  src/moonlink/src/storage/iceberg/parquet_stats_utils.rs
  src/moonlink/src/storage/iceberg/parquet_utils.rs
  src/moonlink/src/storage/iceberg/snapshot_utils.rs
  src/moonlink/src/storage/iceberg/table_event_manager.rs
  src/moonlink/src/storage/iceberg/utils.rs
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/data_batches.rs
  src/moonlink/src/storage/mooncake_table/snapshot_read.rs
  src/moonlink/src/storage/mooncake_table/snapshot_read_output.rs
  src/moonlink/src/storage/wal.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/table_handler_state.rs
  src/moonlink/src/union_read/table_metadata.rs
Due: clipper-check-fix

Refactor test modules and restore commented-out tests in moonlink_row and mooncake_table
  src/moonlink/src/row/moonlink_row.rs
  src/moonlink/src/storage/mooncake_table.rs
Due: clipper-check-fix

Fill some comments and todos
  src/moonlink_connectors/src/pg_replicate/conversions.rs
  src/moonlink_connectors/src/pg_replicate/conversions/text.rs
  src/moonlink_connectors/src/pg_replicate/util.rs
Due: clipper-check-fix

document testing struct/composite in util.rs test
  src/moonlink_connectors/src/pg_replicate/util.rs
Due: clipper-check-fix

Add support for PostgreSQL composite types and arrays in Arrow schema
  src/moonlink_connectors/src/pg_replicate/util.rs
Due: clipper-check-fix

fix: make ErrorStruct field public for others to use
  src/moonlink/src/error.rs
Due: clipper-check-fix

build: add moonlink in deps for moonlink_rpc
  Cargo.lock
  src/moonlink_rpc/Cargo.toml
Due: cargo-sort, check-dependency-license

feat: use ErrorStruct in moonlink_rpc error
  src/moonlink_rpc/src/error.rs
  src/moonlink_service/src/rpc_server.rs
Due: clipper-check-fix

feat: add ErrorStruct to moonlink_error crate
  Cargo.lock
  src/moonlink/Cargo.toml
  src/moonlink/src/error.rs
  src/moonlink_error/Cargo.toml
  src/moonlink_error/src/error.rs
  src/moonlink_error/src/lib.rs
  src/moonlink_rpc/Cargo.toml
  src/moonlink_rpc/src/error.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

refactor: move ErrorStruct test to moonlink_error
  Cargo.lock
  src/moonlink/Cargo.toml
  src/moonlink/src/error.rs
  src/moonlink_error/Cargo.toml
  src/moonlink_error/src/error.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

fix: remove import moonlink in moonlink_rpc
  Cargo.lock
  src/moonlink_rpc/Cargo.toml
Due: cargo-sort, check-dependency-license

feat: add metadata cache trait and metadata cache config
  src/moonlink/src/storage/cache.rs
  src/moonlink/src/storage/cache/metadata.rs
  src/moonlink/src/storage/cache/metadata/base_cache.rs
  src/moonlink/src/storage/cache/metadata/cache_config.rs
Due: clipper-check-fix

feat: implement moka metadata cache
  Cargo.lock
  src/moonlink/Cargo.toml
  src/moonlink/src/storage/cache/metadata.rs
  src/moonlink/src/storage/cache/metadata/moka_cache.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

feat: add moka metadata cache test cases
  src/moonlink/src/storage/cache/metadata.rs
  src/moonlink/src/storage/cache/metadata/moka_cache.rs
  src/moonlink/src/storage/cache/metadata/moka_cache_test.rs
  src/moonlink/src/storage/cache/metadata/test_utils.rs
Due: clipper-check-fix

feat: improve with comment
  src/moonlink_connectors/src/rest_ingest/decimal_utils.rs
  src/moonlink_connectors/src/rest_ingest/json_converter.rs
Due: clipper-check-fix

Replace unwrap with expect and add descriptive error messages in moonlik>src>moonlink
  src/moonlink/src/row/moonlink_row.rs
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/filesystem/accessor/chaos_generator.rs
  src/moonlink/src/storage/filesystem/accessor/unbuffered_stream_writer.rs
  src/moonlink/src/storage/iceberg/deletion_vector.rs
  src/moonlink/src/storage/iceberg/deletion_vector_manifest_manager.rs
  src/moonlink/src/storage/iceberg/file_catalog.rs
  src/moonlink/src/storage/iceberg/file_index_manifest_manager.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/io_utils.rs
  src/moonlink/src/storage/iceberg/parquet_stats_utils.rs
  src/moonlink/src/storage/iceberg/parquet_utils.rs
  src/moonlink/src/storage/iceberg/snapshot_utils.rs
  src/moonlink/src/storage/iceberg/table_event_manager.rs
  src/moonlink/src/storage/iceberg/utils.rs
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/data_batches.rs
  src/moonlink/src/storage/mooncake_table/snapshot_read.rs
  src/moonlink/src/storage/mooncake_table/snapshot_read_output.rs
  src/moonlink/src/storage/wal.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/table_handler_state.rs
  src/moonlink/src/union_read/table_metadata.rs
Due: clipper-check-fix

Improve error handling by replacing unwrap() with expect() for clearer failure messages
  src/moonlink/src/row/column_array_builder.rs
  src/moonlink/src/row/moonlink_row.rs
  src/moonlink/src/storage/cache/object_storage/cache_config.rs
  src/moonlink/src/storage/cache/object_storage/local_file_optimization_state_tests.rs
  src/moonlink/src/storage/cache/object_storage/object_storage_cache.rs
Due: clipper-check-fix

cleanup, stream abort, initial copy assert
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
  src/moonlink/src/storage/wal.rs
  src/moonlink/src/storage/wal/test_utils.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/chaos_test.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_notify.rs
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/tests/common.rs
  src/moonlink_connectors/src/pg_replicate.rs
  src/moonlink_connectors/src/pg_replicate/moonlink_sink.rs
  src/moonlink_connectors/src/replication_connection.rs
  src/moonlink_connectors/src/replication_manager.rs
Due: clipper-check-fix

typo
  src/moonlink/src/storage/mooncake_table/transaction_stream.rs
Due: clipper-check-fix

merge and cleanup
  src/moonlink/src/table_notify.rs
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_connectors/src/pg_replicate/moonlink_sink.rs
Due: clipper-check-fix

Path conditions:
  cargo-sort: any of: \.toml$
  clipper-check-fix: any of: \.rs$
  check-dependency-license: any of: \.toml$
