Repository Mooncake-Labs/moonlink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-sort, clipper-check-fix, check-dependency-license

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.35.1
    hooks:
      - id: typos
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
  - repo: local
    hooks:
      - id: cargo-sort
        name: cargo-sort
        language: system
        files: '\.toml$'
        entry: cargo sort --workspace
        pass_filenames: false
      - id: clipper-check-fix
        name: clipper-check-fix
        language: system
        files: '\.rs$'
        entry: bash -c 'cargo clippy --all-targets --all-features -- -D warnings || cargo clippy --all-targets --all-features --fix --allow-dirty --allow-staged'
        pass_filenames: false
      - id: check-dependency-license
        name: check-dependency-license
        language: system
        files: '\.toml$'
        entry: cargo deny check
        pass_filenames: false

fix: replace io::result with error::result
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/compaction/test_utils.rs
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/disk_slice.rs
Due: clipper-check-fix

feat: add get_status() method to moonlink_backend::Error
  src/moonlink_backend/src/error.rs
Due: clipper-check-fix

added deploy commands
  deploy/aws/dev/deployment/moonlink_deployment.yaml
  deploy/aws/prod/deployment/moonlink_deployment.yaml
  deploy/aws/staging/deployment/moonlink_deployment.yaml
  deploy/aws/staging/service/moonlink_service.yaml
Due: none

formatting
  deploy/aws/staging/service/moonlink_service.yaml
Due: none

naming and checks
  src/moonlink_metadata_store/src/postgres/pg_metadata_store.rs
  src/moonlink_metadata_store/src/postgres/sql/create_secrets.sql
  src/moonlink_metadata_store/src/sqlite/sql/create_secrets.sql
  src/moonlink_metadata_store/src/sqlite/sqlite_metadata_store.rs
  src/moonlink_metadata_store/tests/common/test_utils.rs
Due: clipper-check-fix

test-utils dependencies
  src/moonlink_backend/Cargo.toml
  src/moonlink_metadata_store/Cargo.toml
Due: cargo-sort, check-dependency-license

[REST] improve error propagation for REST API
  src/moonlink_service/src/rest_api.rs
Due: clipper-check-fix

feat: add a test for starting rest server and request to the health check endpoint
  src/moonlink_service/src/rest_api.rs
Due: clipper-check-fix

fix: CI linter issue
  src/moonlink/benches/microbench_index_stress.rs
  src/moonlink/src/storage/compaction/compactor.rs
Due: clipper-check-fix

feat: improve indexblock builder error propagation with IoResult
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/compaction/test_utils.rs
  src/moonlink/src/storage/compaction/tests.rs
  src/moonlink/src/storage/index/cache_utils.rs
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/disk_slice.rs
Due: clipper-check-fix

add todo for event, fix PR comment
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/disk_slice.rs
  src/moonlink/src/table_handler.rs
Due: clipper-check-fix

chore: indexmerge result refactor
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/table_operation_test_utils.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/chaos_replay.rs
  src/moonlink/src/table_notify.rs
Due: clipper-check-fix

fix: ensure the merge index mark complete
  src/moonlink/src/table_handler.rs
Due: clipper-check-fix

chore: propagate error status
  src/moonlink/src/storage/mooncake_table.rs
Due: clipper-check-fix

add few more iceberg catalog configuration to support multiple catalog types
  src/moonlink/src/storage/iceberg/catalog_utils.rs
  src/moonlink/src/storage/iceberg/iceberg_table_config.rs
Due: clipper-check-fix

Update IcebergTableConfig to use catalog configuration
  src/moonlink/benches/bench_write.rs
  src/moonlink/benches/microbench_write_mooncake_table.rs
  src/moonlink/src/lib.rs
  src/moonlink/src/storage.rs
  src/moonlink/src/storage/iceberg/compaction_tests.rs
  src/moonlink/src/storage/iceberg/iceberg_snapshot_fetcher.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/state_tests.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table/file_index_state_tests.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/table_status_reader.rs
  src/moonlink/src/storage/mooncake_table/test_utils.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink_backend/src/table_config.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_metadata_store/src/config_utils.rs
  src/moonlink_metadata_store/src/sqlite/tests.rs
  src/moonlink_metadata_store/tests/common/test_utils.rs
Due: clipper-check-fix

fix lint
  src/moonlink_metadata_store/src/sqlite/tests.rs
  src/moonlink_metadata_store/src/test_utils.rs
Due: clipper-check-fix

i'm happy with this.
  README.md
  assets/architecture.png
  assets/rawdeletes.png
  assets/rawinserts.png
  assets/v0.2architecture.jpg
Due: none

fix alter
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/table_handler.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink/src/table_handler/tests.rs
Due: clipper-check-fix

removed unused pics
  assets/architecture.png
  assets/rawdeletes.png
  assets/rawinserts.png
Due: none

need to get insert API call working.
  README.md
Due: none

refactor common constants
  src/moonlink_service/src/rest_api.rs
Due: clipper-check-fix

refactor: use serde_json to parse response
  src/moonlink_service/src/rest_api.rs
Due: clipper-check-fix

feat(rest-api): expose endpoints to optimize table
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
Due: clipper-check-fix

feat: improve error handling and add tests
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
Due: clipper-check-fix

feat: add test for create-table-endpoint
  src/moonlink_service/src/rest_api.rs
Due: clipper-check-fix

address final Cheng concerns
  README.md
Due: none

Separate data and metadata accessor configurations in IcebergTableConfig
  src/moonlink/src/storage/iceberg/iceberg_snapshot_fetcher.rs
  src/moonlink/src/storage/iceberg/iceberg_table_config.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/mooncake_table/table_status_reader.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_metadata_store/src/config_utils.rs
Due: clipper-check-fix

adapt new iceberg accessor config among tests
  src/moonlink/benches/bench_write.rs
  src/moonlink/benches/microbench_write_mooncake_table.rs
  src/moonlink/src/storage/iceberg/compaction_tests.rs
  src/moonlink/src/storage/iceberg/state_tests.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table/file_index_state_tests.rs
  src/moonlink/src/storage/mooncake_table/table_creation_test_utils.rs
  src/moonlink/src/storage/mooncake_table/table_status_reader.rs
  src/moonlink/src/storage/mooncake_table/test_utils.rs
  src/moonlink/src/table_handler/test_utils.rs
  src/moonlink_backend/src/table_config.rs
  src/moonlink_metadata_store/src/sqlite/tests.rs
  src/moonlink_metadata_store/src/test_utils.rs
  src/moonlink_metadata_store/tests/common/test_utils.rs
Due: clipper-check-fix

dont panic when getting warehouse uri
  src/moonlink/src/storage/iceberg/compaction_tests.rs
  src/moonlink/src/storage/iceberg/iceberg_table_config.rs
  src/moonlink/src/storage/iceberg/iceberg_table_manager.rs
  src/moonlink/src/storage/iceberg/state_tests.rs
  src/moonlink/src/storage/iceberg/tests.rs
  src/moonlink/src/storage/mooncake_table/table_status_reader.rs
  src/moonlink_metadata_store/src/config_utils.rs
Due: clipper-check-fix

fix(test): remove duplicate table creation in S3/GCS tests to avoid version-hint ETag 412
  src/moonlink/src/storage/iceberg/file_catalog_test.rs
Due: clipper-check-fix

address naming suggestion
  src/moonlink/src/storage/iceberg/catalog_utils.rs
  src/moonlink/src/storage/iceberg/iceberg_table_config.rs
Due: clipper-check-fix

add serde and catalog feature flag
  src/moonlink/Cargo.toml
  src/moonlink/src/storage/iceberg/iceberg_table_config.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

fix: make drop_table return Result
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/rpc_server.rs
Due: clipper-check-fix

fix compile error
  src/moonlink/src/storage/iceberg/catalog_utils.rs
  src/moonlink/src/storage/iceberg/iceberg_table_config.rs
Due: clipper-check-fix

add Iceberg-rest to CI
  .github/workflows/ci.yml
Due: none

bug fix, add image in CI docker run command
  .github/workflows/ci.yml
Due: none

addressing review comments
  src/moonlink/src/storage/iceberg/iceberg_table_config.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
Due: clipper-check-fix

fix: ensure Int16 cast in ColumnArrayBuilder::finish
  src/moonlink/src/row/column_array_builder.rs
  src/moonlink/src/storage/mooncake_table/data_batches.rs
Due: clipper-check-fix
