Repository Mooncake-Labs/moonlink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-sort, clipper-check-fix, check-dependency-license

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.35.1
    hooks:
      - id: typos
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
  - repo: local
    hooks:
      - id: cargo-sort
        name: cargo-sort
        language: system
        files: '\.toml$'
        entry: cargo sort --workspace
        pass_filenames: false
      - id: clipper-check-fix
        name: clipper-check-fix
        language: system
        files: '\.rs$'
        entry: bash -c 'cargo clippy --all-targets --all-features -- -D warnings || cargo clippy --all-targets --all-features --fix --allow-dirty --allow-staged'
        pass_filenames: false
      - id: check-dependency-license
        name: check-dependency-license
        language: system
        files: '\.toml$'
        entry: cargo deny check
        pass_filenames: false

feat(rest-api): expose endpoints to create snapshot
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
Due: clipper-check-fix

feat: use response to get the lsn not craft myself
  src/moonlink_service/src/test.rs
Due: clipper-check-fix

feat: make hard-coded util function to create arrow batch
  src/moonlink_service/src/test.rs
  src/moonlink_service/src/test_utils.rs
Due: clipper-check-fix

feat: use the real_cache instead of mock cache
  src/moonlink/src/storage/mooncake_table/snapshot_read_output.rs
Due: clipper-check-fix

move reflect_table_updates to common place
  src/moonlink/src/storage/iceberg.rs
  src/moonlink/src/storage/iceberg/file_catalog.rs
  src/moonlink/src/storage/iceberg/table_metadata_utils.rs
Due: clipper-check-fix

move reflect_table_update to catalog utils
  src/moonlink/src/storage/iceberg.rs
  src/moonlink/src/storage/iceberg/catalog_utils.rs
  src/moonlink/src/storage/iceberg/file_catalog.rs
  src/moonlink/src/storage/iceberg/table_metadata_utils.rs
Due: clipper-check-fix

update
  src/moonlink_service/src/rest_api.rs
Due: clipper-check-fix

feat: replace the hard-code nginx-address
  .github/workflows/ci.yml
  src/moonlink_service/src/test.rs
Due: clipper-check-fix

feat: fix the nginx server detection
  .github/workflows/ci.yml
Due: none

chore: use proper error messages
  .github/workflows/ci.yml
  src/moonlink_service/src/rest_api.rs
Due: clipper-check-fix

[Feature] Nginx-logging-config
  deploy/kind/deployment/moonlink_deployment.yaml
Due: none

update more assertions
  Cargo.lock
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/test.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

test: add RAII style directory clean up
  src/moonlink_service/src/test.rs
Due: clipper-check-fix

fix typo
  deploy/kind/deployment/moonlink_deployment.yaml
Due: none

feat: add test case for rest ingested table
  src/moonlink_backend/tests/test_backend.rs
Due: clipper-check-fix

Update src/moonlink_service/Cargo.toml
  src/moonlink_service/Cargo.toml
Due: cargo-sort, check-dependency-license

fix: remove explicit cleanup in tests
  src/moonlink_service/src/test.rs
Due: clipper-check-fix

refactor
  src/moonlink_service/src/test.rs
Due: clipper-check-fix

[moonlink_service][test] split testing utils into separate file
  src/moonlink_service/src/test.rs
  src/moonlink_service/src/test_utils.rs
Due: clipper-check-fix

added moonlink API spec.
  moonlink-api.yaml
Due: none

in the right directory now
  src/moonlink_service/moonlink-api.yaml
Due: none

update from dentity's suggestion
  deploy/kind/config/moonlink_nginx_config.yaml
  deploy/kind/deployment/moonlink_deployment.yaml
  deploy/kind/local_setup_script.sh
Due: none

remove range start
  deploy/kind/config/moonlink_nginx_config.yaml
Due: none

chore: ignore deny check error
  deny.toml
Due: cargo-sort, check-dependency-license

Update src/moonlink_service/src/test_utils.rs
  src/moonlink_service/src/test_utils.rs
Due: clipper-check-fix

handle error
  src/moonlink_connectors/src/pg_replicate/initial_copy_writer.rs
Due: clipper-check-fix

use `base_path` for init load
  src/moonlink_connectors/src/pg_replicate.rs
  src/moonlink_connectors/src/pg_replicate/initial_copy.rs
Due: clipper-check-fix

add test
  src/moonlink_connectors/src/pg_replicate/initial_copy.rs
Due: clipper-check-fix

no panic on mark
  src/moonlink_connectors/src/replication_state.rs
Due: clipper-check-fix

rename to table base path
  src/moonlink_connectors/src/pg_replicate/initial_copy.rs
Due: clipper-check-fix

add test
  src/moonlink_connectors/src/replication_state.rs
Due: clipper-check-fix

panic on copy failure
  src/moonlink_connectors/src/pg_replicate.rs
Due: clipper-check-fix

add error case test
  src/moonlink_connectors/src/pg_replicate/initial_copy.rs
Due: clipper-check-fix

add src table in message
  src/moonlink_connectors/src/pg_replicate.rs
Due: clipper-check-fix

log warning on failed send
  src/moonlink_connectors/src/replication_state.rs
Due: clipper-check-fix

protobuf
  Cargo.lock
  Cargo.toml
  src/moonlink/Cargo.toml
  src/moonlink/src/row.rs
  src/moonlink/src/row/proto_converter.rs
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_connectors/Cargo.toml
  src/moonlink_connectors/src/rest_ingest/event_request.rs
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
  src/moonlink_proto/Cargo.toml
  src/moonlink_proto/build.rs
  src/moonlink_proto/proto/row.proto
  src/moonlink_proto/src/lib.rs
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/rest_api.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

cleanup
  src/moonlink/src/row/proto_converter.rs
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
  src/moonlink_proto/build.rs
  src/moonlink_proto/src/lib.rs
Due: clipper-check-fix

removed base64 and unnecessary deps
  Cargo.lock
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_connectors/Cargo.toml
  src/moonlink_connectors/src/rest_ingest/event_request.rs
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
  src/moonlink_proto/Cargo.toml
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/rest_api.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

reduces copies
  src/moonlink/src/row.rs
  src/moonlink/src/row/proto_converter.rs
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
  src/moonlink_proto/proto/row.proto
Due: clipper-check-fix

composite types for REST api
  src/moonlink_connectors/src/rest_ingest/json_converter.rs
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
Due: clipper-check-fix
