Repository Mooncake-Labs/moonlink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-sort, clipper-check-fix, check-dependency-license

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.35.1
    hooks:
      - id: typos
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
  - repo: local
    hooks:
      - id: cargo-sort
        name: cargo-sort
        language: system
        files: '\.toml$'
        entry: cargo sort --workspace
        pass_filenames: false
      - id: clipper-check-fix
        name: clipper-check-fix
        language: system
        files: '\.rs$'
        entry: bash -c 'cargo clippy --all-targets --all-features -- -D warnings || cargo clippy --all-targets --all-features --fix --allow-dirty --allow-staged'
        pass_filenames: false
      - id: check-dependency-license
        name: check-dependency-license
        language: system
        files: '\.toml$'
        entry: cargo deny check
        pass_filenames: false

testing and cleanup
  Cargo.lock
  Cargo.toml
  src/moonlink/Cargo.toml
  src/moonlink/src/row.rs
  src/moonlink/src/row/proto_converter.rs
  src/moonlink_connectors/Cargo.toml
  src/moonlink_connectors/src/rest_ingest/rest_source.rs
  src/moonlink_proto/Cargo.toml
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/test.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

[devcontainer] Add network alias for iceberg-rest service and update CI to use hostname
  .devcontainer/docker-compose.yml
  .github/workflows/ci.yml
Due: none

Update default REST catalog URI to use hostname for testing
  src/moonlink/src/storage/iceberg/rest_catalog_test_utils.rs
Due: clipper-check-fix

feat(test): add test cases for list_namespaces
  src/moonlink/src/storage/iceberg/rest_catalog_test.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test_utils.rs
Due: clipper-check-fix

chore: fix minor issues
  src/moonlink/src/lib.rs
  src/moonlink/src/storage/iceberg/rest_catalog.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test_utils.rs
  src/moonlink/src/storage/storage_utils.rs
Due: clipper-check-fix

feat(rest-catalog): implement namespace functions
  src/moonlink/src/storage/iceberg/rest_catalog.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test.rs
Due: clipper-check-fix

refactor: rest_catalog_test_guard
  src/moonlink/src/storage/iceberg/rest_catalog_test.rs
  src/moonlink/src/storage/iceberg/rest_catalog_test_guard.rs
Due: clipper-check-fix

feat(rest_catalog): add more test cases
  src/moonlink/src/storage/iceberg/rest_catalog_test.rs
Due: clipper-check-fix

fix: feature compilation error
  src/moonlink_metadata_store/src/config_utils.rs
Due: clipper-check-fix

refactoring and testing
  Cargo.lock
  src/moonlink_connectors/src/rest_ingest.rs
  src/moonlink_connectors/src/rest_ingest/json_converter.rs
  src/moonlink_connectors/src/rest_ingest/schema_builder.rs
  src/moonlink_service/Cargo.toml
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
  src/moonlink_service/src/test_utils.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

lazily create conn on add
  src/moonlink_backend/src/lib.rs
  src/moonlink_connectors/src/replication_manager.rs
Due: clipper-check-fix

add oneshot channel
  src/moonlink_connectors/src/pg_replicate.rs
Due: clipper-check-fix

removed list item nullability restriction
  src/moonlink_connectors/src/rest_ingest/json_converter.rs
  src/moonlink_connectors/src/rest_ingest/schema_builder.rs
Due: clipper-check-fix

proto uses vec<u8> instead of bytes
  src/moonlink/src/row/proto_converter.rs
  src/moonlink_proto/build.rs
  src/moonlink_proto/src/lib.rs
Due: clipper-check-fix

more restful, removed # of distinct schemas
  src/moonlink_service/moonlink-api.yaml
Due: none

small change
  src/moonlink_service/moonlink-api.yaml
Due: none

bump
  Cargo.lock
  Cargo.toml
  deny.toml
Due: cargo-sort, check-dependency-license

chore: remove static todo
  src/moonlink/src/storage/cache/metadata/base_cache.rs
Due: clipper-check-fix

error handling
  src/moonlink_connectors/src/error.rs
  src/moonlink_connectors/src/rest_ingest/json_converter.rs
  src/moonlink_connectors/src/rest_ingest/schema_builder.rs
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
  src/moonlink_service/src/test_utils.rs
Due: clipper-check-fix

schema build permanent error
  src/moonlink_connectors/src/error.rs
Due: clipper-check-fix

bump ubuntu build version
  Dockerfile
  Dockerfile.aarch64
  Dockerfile.amd64
Due: none

support map type in arrow
  src/moonlink/src/row/column_array_builder.rs
Due: clipper-check-fix

wip: support the glue catalog
  Cargo.lock
  Cargo.toml
  src/moonlink/Cargo.toml
  src/moonlink/src/storage/iceberg.rs
  src/moonlink/src/storage/iceberg/glue_catalog.rs
  src/moonlink/src/storage/iceberg/iceberg_table_config.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

fix: fake-gcs workaround
  .github/workflows/ci.yml
  src/moonlink/Cargo.toml
  src/moonlink/src/storage/filesystem/accessor/filesystem_accessor.rs
  src/moonlink_metadata_store/Cargo.toml
Due: cargo-sort, clipper-check-fix, check-dependency-license

add supervisor loop with backoff
  src/moonlink_connectors/src/pg_replicate.rs
Due: clipper-check-fix

dedup with xlog lsn
  src/moonlink_connectors/src/pg_replicate/postgres_source.rs
Due: clipper-check-fix

add integration testing
  src/moonlink_backend/tests/test_backend.rs
Due: clipper-check-fix

lint
  src/moonlink_backend/tests/test_backend.rs
Due: clipper-check-fix

guard pg test
  src/moonlink_backend/tests/test_backend.rs
Due: clipper-check-fix

refactor test_backend
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_backend/tests/test_control_plane_recovery.rs
  src/moonlink_backend/tests/test_replication_recovery.rs
  src/moonlink_backend/tests/test_table_recovery.rs
  src/moonlink_backend/tests/test_wal_recovery.rs
Due: clipper-check-fix

rename test_backend
  src/moonlink_backend/tests/test_basic.rs
Due: clipper-check-fix

update ci to run all tests
  .github/workflows/ci.yml
Due: none

use `connect_to_postgres`
  src/moonlink_backend/tests/test_replication_recovery.rs
Due: clipper-check-fix

use `get_database_uri`
  src/moonlink_backend/tests/test_replication_recovery.rs
Due: clipper-check-fix

add assertion
  src/moonlink_connectors/src/pg_replicate/moonlink_sink.rs
Due: clipper-check-fix

fix: remove the fake-gcs test
  .github/workflows/ci.yml
  src/moonlink/Cargo.toml
  src/moonlink/src/storage/filesystem/accessor/filesystem_accessor.rs
  src/moonlink_metadata_store/Cargo.toml
Due: cargo-sort, clipper-check-fix, check-dependency-license

reafctor: cleanup the schema_builder file
  src/moonlink_connectors/src/error.rs
  src/moonlink_connectors/src/rest_ingest.rs
  src/moonlink_connectors/src/rest_ingest/json_converter.rs
  src/moonlink_connectors/src/rest_ingest/schema_util.rs
  src/moonlink_service/src/rest_api.rs
Due: clipper-check-fix

rest keepalive floor on reconnect
  src/moonlink_connectors/src/pg_replicate.rs
  src/moonlink_connectors/src/pg_replicate/moonlink_sink.rs
Due: clipper-check-fix

update comments
  src/moonlink_connectors/src/pg_replicate.rs
  src/moonlink_connectors/src/pg_replicate/moonlink_sink.rs
Due: clipper-check-fix
