Repository Mooncake-Labs/moonlink: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-sort, clipper-check-fix, check-dependency-license

cargo-sort:
  name: cargo-sort
  language: system
  entry: cargo sort --workspace
  pass_filenames: false

clipper-check-fix:
  name: clipper-check-fix
  language: system
  entry: bash -c 'cargo clippy --all-targets --all-features -- -D warnings || cargo clippy --all-targets --all-features --fix --allow-dirty --allow-staged'
  pass_filenames: false

check-dependency-license:
  name: check-dependency-license
  language: system
  entry: cargo deny check
  pass_filenames: false

Refine moonlink_backend errors with new Error struct
  Cargo.lock
  src/moonlink_backend/Cargo.toml
  src/moonlink_backend/src/error.rs
  src/moonlink_backend/src/lib.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

Update src/moonlink_backend/src/lib.rs
  src/moonlink_backend/src/lib.rs
Due: clipper-check-fix

Fix test
  src/moonlink_backend/Cargo.toml
  src/moonlink_backend/src/error.rs
  src/moonlink_backend/src/lib.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

feat: return evict value
  src/moonlink/src/storage/cache/metadata/base_cache.rs
  src/moonlink/src/storage/cache/metadata/moka_cache.rs
  src/moonlink/src/storage/cache/metadata/moka_cache_test.rs
Due: clipper-check-fix

chore: add comment to get method
  src/moonlink/src/storage/cache/metadata/moka_cache.rs
Due: clipper-check-fix

chore: rename test method
  src/moonlink/src/storage/cache/metadata/moka_cache/test_utils.rs
  src/moonlink/src/storage/cache/metadata/moka_cache_test.rs
Due: clipper-check-fix

chore: lint code
  Cargo.toml
Due: cargo-sort, check-dependency-license

clean up
  .devcontainer/setup.sh
  Cargo.toml
  src/moonlink_backend/Cargo.toml
  src/moonlink_backend/tests/common.rs
  src/moonlink_backend/tests/test_backend.rs
  src/moonlink_connectors/Cargo.toml
  src/moonlink_connectors/src/pg_replicate.rs
  src/moonlink_connectors/src/pg_replicate/clients/postgres.rs
  src/moonlink_metadata_store/Cargo.toml
  src/moonlink_metadata_store/src/postgres/pg_client_wrapper.rs
  src/moonlink_metadata_store/src/sqlite/tests.rs
  src/moonlink_metadata_store/tests/common/test_environment.rs
  src/moonlink_metadata_store/tests/test_pg_metadata_store.rs
  src/moonlink_metadata_store/tests/test_pg_metadata_store_utils.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

fixed dead code
  src/moonlink_metadata_store/tests/common/test_environment.rs
  src/moonlink_metadata_store/tests/common/test_utils.rs
Due: clipper-check-fix

fixed new moonlink connectors test utils
  src/moonlink_connectors/src/pg_replicate/tests/test_utils.rs
Due: clipper-check-fix

error might have two type of source
  src/moonlink_service/src/rpc_server.rs
Due: clipper-check-fix

few refactor and add test for Unix server behavior on client disconnect
  src/moonlink_service/src/rpc_server.rs
Due: clipper-check-fix

lint
  src/moonlink_service/src/rpc_server.rs
Due: clipper-check-fix

cleanup
  src/moonlink_backend/Cargo.toml
  src/moonlink_backend/tests/test_backend.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

cleanup
  src/moonlink_backend/tests/test_backend.rs
Due: clipper-check-fix

[storage] Iceberg schema fetch
  src/moonlink/src/storage/iceberg.rs
  src/moonlink/src/storage/iceberg/base_iceberg_schema_fetcher.rs
  src/moonlink/src/storage/iceberg/catalog_utils.rs
  src/moonlink/src/storage/iceberg/file_catalog.rs
  src/moonlink/src/storage/iceberg/iceberg_schema_fetcher.rs
  src/moonlink/src/storage/iceberg/schema_fetcher_test.rs
  src/moonlink/src/storage/iceberg/utils.rs
  src/moonlink_connectors/src/mooncake_table_id.rs
  src/moonlink_connectors/src/pg_replicate/util.rs
Due: clipper-check-fix

refactor: use ErrorStruct for invalid argument with direct string conversion to invalid argument
  src/moonlink_backend/src/error.rs
  src/moonlink_backend/src/lib.rs
Due: clipper-check-fix

refactor: invalid_argumentation implementation in Error type
  src/moonlink_backend/src/error.rs
  src/moonlink_backend/src/lib.rs
Due: clipper-check-fix

invalid_argument accepting messsage param
  src/moonlink_backend/src/error.rs
  src/moonlink_backend/src/lib.rs
Due: clipper-check-fix

AWS EKS deployment
  deploy/aws/dev/deployment/moonlink_deployment.yaml
  deploy/aws/dev/service/moonlink_service.yaml
  deploy/aws/dev/service/postgres_service.yaml
  deploy/aws/prod/deployment/moonlink_deployment.yaml
  deploy/aws/prod/service/moonlink_service.yaml
  deploy/aws/staging/deployment/moonlink_deployment.yaml
  deploy/aws/staging/service/moonlink_service.yaml
Due: none

[REST] Expose list tables to REST API
  src/moonlink_backend/src/table_status.rs
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
Due: clipper-check-fix

refactor the datafusion error by ErrorStruct
  Cargo.lock
  src/moonlink_datafusion/Cargo.toml
  src/moonlink_datafusion/src/catalog_provider.rs
  src/moonlink_datafusion/src/error.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

refactor: replace all the moonlink datafusion errors
  src/moonlink_datafusion/src/catalog_provider.rs
Due: clipper-check-fix

comments
  deploy/aws/dev/deployment/moonlink_deployment.yaml
  deploy/aws/dev/service/moonlink_service.yaml
  deploy/aws/prod/deployment/moonlink_deployment.yaml
  deploy/aws/prod/service/moonlink_service.yaml
  deploy/aws/staging/deployment/moonlink_deployment.yaml
  deploy/aws/staging/service/moonlink_service.yaml
Due: none

chore: remove the dependency and fix some little errors
  Cargo.lock
  src/moonlink_datafusion/Cargo.toml
  src/moonlink_datafusion/src/error.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

clean extra line
  deploy/aws/staging/deployment/moonlink_deployment.yaml
Due: none

fix: test
  src/moonlink_service/src/lib.rs
  src/moonlink_service/src/rest_api.rs
  src/moonlink_service/src/test.rs
Due: clipper-check-fix

chore: Handle ArrowError separately
  src/moonlink_datafusion/src/error.rs
Due: clipper-check-fix

chore: remove the DataFusionError on moonlink_datafusion
  src/moonlink_datafusion/src/error.rs
Due: clipper-check-fix

chore: fix clippy error
  src/moonlink_datafusion/src/error.rs
Due: clipper-check-fix

feat: Handle negative scales in Decimal type
  src/moonlink_connectors/src/rest_ingest/decimal_utils.rs
  src/moonlink_connectors/src/rest_ingest/json_converter.rs
  src/moonlink_datafusion/Cargo.toml
Due: cargo-sort, clipper-check-fix, check-dependency-license

Object store implementation
  .github/workflows/ci.yml
  src/moonlink/src/lib.rs
  src/moonlink/src/mooncake_table_id.rs
  src/moonlink/src/storage/mooncake_table/table_config.rs
  src/moonlink/src/storage/wal.rs
  src/moonlink/src/storage/wal/test_utils.rs
  src/moonlink/src/storage/wal/tests.rs
  src/moonlink_backend/Cargo.toml
  src/moonlink_backend/src/lib.rs
  src/moonlink_backend/src/recovery_utils.rs
  src/moonlink_backend/src/table_config.rs
  src/moonlink_backend/tests/common.rs
  src/moonlink_connectors/src/pg_replicate/table_init.rs
  src/moonlink_metadata_store/Cargo.toml
  src/moonlink_metadata_store/src/config_utils.rs
  src/moonlink_metadata_store/src/lib.rs
  src/moonlink_metadata_store/src/postgres/pg_metadata_store.rs
  src/moonlink_metadata_store/src/postgres/sql/create_secrets.sql
  src/moonlink_metadata_store/src/sqlite/sql/create_secrets.sql
  src/moonlink_metadata_store/src/sqlite/sqlite_metadata_store.rs
  src/moonlink_metadata_store/src/sqlite/tests.rs
  src/moonlink_metadata_store/src/test_utils.rs
  src/moonlink_metadata_store/tests/common/test_utils.rs
  src/moonlink_metadata_store/tests/test_pg_metadata_store.rs
Due: cargo-sort, clipper-check-fix, check-dependency-license

added comment
  src/moonlink/src/storage/wal/test_utils.rs
  src/moonlink_metadata_store/src/config_utils.rs
Due: clipper-check-fix

formatting
  src/moonlink_metadata_store/src/config_utils.rs
  src/moonlink_metadata_store/src/sqlite/tests.rs
Due: clipper-check-fix

removed integration tests
  .github/workflows/ci.yml
Due: none

gating imports
  src/moonlink_metadata_store/src/test_utils.rs
Due: clipper-check-fix

type namings
  src/moonlink_backend/src/table_config.rs
Due: clipper-check-fix

chore: improve readable comment and add TODO for nan cases
  src/moonlink_connectors/src/rest_ingest/decimal_utils.rs
Due: clipper-check-fix

feat: improve indexblock builder error propagation with IoResult
  src/moonlink/src/storage/compaction/compactor.rs
  src/moonlink/src/storage/compaction/test_utils.rs
  src/moonlink/src/storage/compaction/tests.rs
  src/moonlink/src/storage/index/cache_utils.rs
  src/moonlink/src/storage/index/persisted_bucket_hash_map.rs
  src/moonlink/src/storage/mooncake_table.rs
  src/moonlink/src/storage/mooncake_table/disk_slice.rs
Due: clipper-check-fix

fix: CI linter issue
  src/moonlink/benches/microbench_index_stress.rs
  src/moonlink/src/storage/compaction/compactor.rs
Due: clipper-check-fix

Path conditions:
  cargo-sort: any of: \.toml$
  clipper-check-fix: any of: \.rs$
  check-dependency-license: any of: \.toml$
